# Build Logs
buildLog_Release.txt
buildLog_Debug.txt
buildLog_Summary.txt
RUSTbuildLog.txt
Framework_buildLog.txt
AdminPanel_buildLog.txt
Documentation_buildLog.txt
DoxygenDocumentation_buildLog.txt
buildLog_Nightly.txt
buildLog_Continuous.txt

# Test Logs
testlog_Debug.txt
testlog_Release.txt

# Report Directories
Reports
TestReports
