# Deployment Directory
Deployment
Deployment_Frontend
Deployment_Documentation
DeploymentDocumentation
InstallationImages
DebugFiles
build/
.vs/

# Build logs, also the lowercase buildlog_*.txt of older builds
[bB]uild[lL]og_*.txt
