.Card {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-left: 25%;
    margin-top: 50%;
    margin-right: 25%;
}

.btn-outline-primary {
    border-color: #0db8de;
    color: #f7fbfc;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent;
}

.btn-outline-primary:hover {
    background-color: #0db8de;
    right: 0px;
}

.login-btm {
    float: center;
}

.login-button {
    padding: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 10px;
}