.dataGrid {
    height: 800px;
    padding: 20px;

    .dataGridTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .deleteBtn {
            text-decoration: none;
            color: white;
            background-color: #0a1929;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid red;
            border-radius: 12px;
            cursor: pointer;
            padding: 2px 5px;
        }

        .link {
            text-decoration: none;
            color: white;
            background-color: #0a1929;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            border-radius: 12px;
            cursor: pointer;
            padding: 2px 5px;
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px; //left and right
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0, 0, 140, 0.5);
            cursor: pointer;
        }

        .deleteButton {
            padding: 2px 5px; //left and right
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.6);
            cursor: pointer;
        }
    }

    .css-imf0nl-MuiDataGrid-root {
        font-size: large;
    }
}