# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.lib
*.pdb
*.ilk
*.idb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Google test directory
packages

# Logfiles
*.tlog

# Build Logs
buildLog_Debug.txt
buildLog_Release.txt

# Output directory
x64

# VS internal build directory
/**/.vs

# User project data
*.vcxproj.user
